.sidepic{
   margin-left: 600px;

}

.picturesidetext{width: 550px; margin-top: -700px; }

.italicdude {font-style: italic; color:rgb(160, 160, 33); font-size: smaller ;

}
.bigboytitle {color:darkslategray;text-align: center;}



.quoteboy{font-style: italic; font-size:larger; text-align: center;
}

.emphasizingmysize{font-weight: bold;



}

.boldyboy{font-weight: bold; text-decoration: underline ;

}
.fontchanger{color: rgb(195, 81, 117);}

.anchorsaway {color:white; font-size: large;}

}


.imagecenter{text-align: center;}